S3method(getOperatorName,esoo_operator)
S3method(getSupportedRepresentations,esoo_operator)
S3method(is.supported,esoo_operator)
S3method(print,esoo_control)
export(esoo)
export(esoo.control)
export(getBestIndividual)
export(getOperatorName)
export(getSupportedRepresentations)
export(is.supported)
export(makeGaussMutator)
export(makeUniformGenerator)
